############
#jwma.config
############

#mail_host default is localhost
mail_host = localhost

#access_protocol - the mailbox access, either imap or imaps
access_protocol = imap

#access port, probably either 143 for imap or 993 for imaps
port = 10143

#smtp_port, the port on which the MTA listens, probably 25
smtp_port = 10025

#available interface languages
languages = de,en,es,fr,it

#the login screen language and the default choice for users
language = en

#users config & contacts persistence - one of serialize, postgres or mysql
persistence = serialize

#1 - session is kept alive or 0 - it times out after 30mins unless compose message page is open
keep_alive = 1

#log level one of ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF
log_level = DEBUG

